/* ############## CSS IGLOO ############## */
/* ############## 03/04/20  ############## */
/* ############## v0.2      ############## */

@font-face { 
    font-family: 'Fredoka One';
    src: url('fonts/FredokaOne-Regular.ttf') format('truetype'), 
         url('fonts/FredokaOne-Regular.woff') format('woff'),
         url('fonts/FredokaOne-Regular.woff2') format('woff2'),
         url('fonts/FredokaOne-Regular.otf') format('otf');

    font-family: 'OpenSans Light';
    src: url('fonts/OpenSans-Light.ttf') format('truetype');


    font-family: 'OpenSans Regular';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype'); 

}

body {
	margin: 0px;
	padding: 0px;
}

/* ATTRBIBUT MAIN */
#global {
	margin: 0 auto;
	max-width: 1200px; /* screen */
	border: black 1px solid;
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	/* flex-grow: 1; */
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around; /* placement des blocs section */
}





/* ############## TITRE SECTION ############## */

h1, h2, h3 {
	font-family: "Fredoka One", cursive;
	font-style: normal;
	font-weight: normal;
	color: rgba(0,0,0,1);
}

h1 {
	font-size: 2em;
	text-align: center;
}

h2 {
	font-size: 1em;
	text-align: left;
	padding-left: 1em;
}

h3 {
	font-size: 0.7em;
	text-align: left;
	padding-left: 1.5em;

}

p {
	font-family: "OpenSans Regular";
	font-style: normal;
	font-weight: lighter;
	color: rgba(0,0,0,1);
	font-size: 0.8em;
	text-align: left;
	padding-left: 1em;
}


#edito {
	display: flex;
	min-width: 100%;

	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 2em;
}

section.contener-section {
display: flex;
flex-direction: row;
width: 45%;
border: 1px solid green;
flex-wrap: wrap;
margin-bottom: 2em;
background-color: #E5E5E5;

align-items: flex-start; /* block contenu égal au précedent mais centre le contenu !!  */
align-content: flex-start; /* aligne le contenu sur le précédent ! */
/* align-self: flex-start;  */ /* alignement contenu axe vertical height=100% du contenu */

}

header.contener-titre-section {
display: flex;
flex-direction: row;
 /* align-content: flex-start; */
width: 100%;
border: 1px solid black;
}

/* ###########  ICONES ########### */

div#globe {
	background-image: url("../svg/icones/globe.svg");
  	background-repeat: no-repeat;
   background-origin: padding-box;
	background-position: center center; 
	width: 2em;
	margin-left: 1em;
}

div#plume {
	background-image: url("../svg/icones/plume.svg");
  	background-repeat: no-repeat;
   background-origin: padding-box;
	background-position: center center; 
	width: 2em;
	margin-left: 1em;
}

div#drum {
	background-image: url("../svg/icones/drum.svg");
  	background-repeat: no-repeat;
   background-origin: padding-box;
	background-position: center center; 
	width: 2em;
	margin-left: 1em;
}

div#moon {
	background-image: url("../svg/icones/moon.svg");
  	background-repeat: no-repeat;
  	background-origin: padding-box;
	background-position: center center; 
	width: 2em;
	margin-left: 1em;
}

/* ########### IMAGES ACCUEIL ############ */

#inuit_map {
width: 250px;
height: 250px;
}

#lang_map {
width: 250px;
height: 137px;
}


div.puce {
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center ; /* center align vertical */
	flex-direction: row;
	width: 5%;
	border: 0px solid red;
}

div.puceTitre {
	display: flex;
	flex-direction: row;
	align-items: center; /* center align vertical */
	width: 95%;
	border: 0px solid red;
}

header > h1 {
	display: none;
}

/* IMAGES SVG ICONES */

.icones {
width: 2em;
height: 2em;

}

/* ###### STYLE SVG ###### */ 

#bandeau-top{
		display: block;
		margin: 0 auto;
		border: 0px solid black;
		background-image: url("../images/ban-groenland-01.jpg");
		margin-bottom: 0px;
}

#texteBandeau {
		font-family: "Fredoka One", cursive;
		font-style: normal;
		font-weight: normal;
  		font-size: 110px;
  		fill: #000;
  		stroke : #fff; /* fonctionne pas ! */
   	-webkit-text-stroke: 10px #fff; /* fonctionne pas ! */
}

.masked {
  		mask: url("#masqueTitre");
}

/* ###### FIN STYLE SVG ###### */ 






nav { 
   display: block; 
   width: 100%;
   border: 0px solid black;
    	  }


/* STYLE POUR MOBILE */
@media screen and (max-width: 414px) and (orientation: portrait) {
	
	#global {
		margin: 0 auto;
		width: auto;
		max-width: 414px; /* screen */
		border: black 1px solid;
		display: flex;
		flex-direction: column;
		/* flex-wrap: wrap; met ASIDE à 100 %... */
		/* background-color: red; */
		
	}
	
	main {
		display: flex;
		flex-direction: column;
	}

	header > h1 {
		display: block;
	}	

	svg#bandeau-top {
		display: none;
	}

	
	header#entete-page {
		height: 100px;
		background-image: url("../svg/icones/inuit-01.svg");
  		background-repeat: no-repeat;
   	background-size: contain;
   	background-origin: padding-box;
		background-position: center right 25px; 
	}
	
	h1#titreBandeau {
		font-size: 1.7em;
		text-align: left;
		padding-left: 0.5em;
		padding-top: 0.5em;

	}	
	nav {
		display: none;	
	}	

   section.contener-section {
display: flex;
flex-direction: column;
width: 100%;
border: 1px solid green;
background-color: #ffffff;
}

header.contener-titre-section {
display: flex;
flex-direction: row;
width: 100%;
border: 1px solid black;
}
 	  
	#menu { 
	 	display: block; 
    	width: 100%;
    	border: 1px solid black;
 	}    

	article#presentation {
		display: none;	
	}



/* ###########  ICONES ########### */

	div#globe {
		background-image: url("../svg/icones/circle.svg");
  		background-repeat: no-repeat;
   	background-origin: padding-box;
		background-position: center center ; 
		width: 0.5em;
		margin-left: 0.1em; 
	}

	div#plume {
		background-image: url("../svg/icones/circle.svg");
  		background-repeat: no-repeat;
   	background-origin: padding-box;
		background-position: center center; 
		width: 0.5em;
		margin-left: 0.1em; 
	}

	div#drum {
		background-image: url("../svg/icones/circle.svg");
  		background-repeat: no-repeat;
   	background-origin: padding-box;
		background-position: center center; 
		width: 0.5em;
		margin-left: 0.1em; 	
	}

	div#moon {
		background-image: url("../svg/icones/circle.svg");
  		background-repeat: no-repeat;
  		background-origin: padding-box;
		background-position: center center; 
		width: 0.5em;
		margin-left: 0.1em; 
	}
	
	#inuit_map, #lang_map {
		display: none;
	}

}


